h1{
    text-align: center;
}
.container {
    font-family: 'Happy Monkey', cursive;
}

.container-1 {
    border-image-source:url(smiles.png)
    margin: 3rem;
    padding: 3rem;
    font-family: 'Happy Monkey', cursive;
    background-image: (smiles.
    linear, left top, left bottom, from(rgba(0,0,0,0.5)),
    to(rgba(0,0,0,0.0)));
    color: olivedrab;
}

.container-md {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 300px;
    padding-right: 300px;
    margin:50px;
    margin-left: 340px;
    background-color: pink;

}