h1{
    background-color: pink;
    margin-top:50px;
    text-align: center;
}
.container {
    font-family: 'Happy Monkey', cursive;
}

.container-1 {
    margin: 3rem;
    padding: 3rem;
    font-family: 'Happy Monkey', cursive;
    color: olivedrab;
}
.wrapper {
    background-image: linear-gradient( pink, white,pink);
}
.container-md-mx-auto {
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 300px;
    padding-right: 300px;
    margin:25px;
    /*margin-left: 340px;*/
    background-color: pink;

}
.row {
    padding: 30px;
    text-align: center;
}
